# CMake output directory (usually)
build/

# .NET output directories
bin/
obj/

# Python cache
__pycache__/

# Visual Studio Code settings
.vscode/

# Visual Studio cache
.vs/

# Program log
chess.log